.idea/
.bsp/
*.iml
**/target/**
logs
*.log
.DS_Store
.history
RUNNING_PID
.ensime
.ensime_cache

.vscode/
.bloop/
.metals/

project/.bloop
project/project
project/metals.sbt

### Ignore generated credentials from google-github-actions/auth ###
gha-creds-*.json